@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.section_reviews {
    
    max-width: 120rem;
    margin: 0 auto;
    background-color: #F9F9F9;
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;

}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

.reviews {
    margin-top: 8.75rem;
    margin-bottom: 8.75rem;
}

.reviews_p {
    color:  #BDBDBD;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 138%;
}

.reviews_h2 {
    color:  #333;
    font-family: Merriweather;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%;
    margin-top: 2.5rem;
}

.reviews_items {
    max-width: 70rem;
    background-color: #EBEBEB;
    margin-top: 5rem;
    padding: 2.81rem 5.94rem;
}



.reviews_text {
    width: 57.5rem;
    height: 5.75rem;
   

}

.reviews_text p {
    color: #000;
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5525rem;
}

.user_info {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 3.62rem;
}

.user_name h3 {
    color: #000;
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 138%; 
}

.user_name p {
    color: #4F4F4F;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; 
    margin-top: 0.62rem;
}





.reviews_icons {
   
    display: flex;
    justify-content: space-between;
}

.reviews_point {
    color: #FFFFFF;
    width: 10rem;
    height: 0.625rem;
    margin-top: 8rem;
   
}

.reviews_arrow {
    margin-right: 0;
    margin-top: 5rem;
    height: 3.75rem;
}